@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;

    --color-base-100: #1B2A34;
    --color-base-content: #C3D1D8;

    --color-primary: #82A8B6;
    --color-primary-content: #1B2A34;

    --color-secondary: #5FD1E3;
    --color-secondary-content: #1B2A34;

    --color-neutral: #3C525E;
    --color-neutral-content: #C3D1D8;

    --color-accent: #5FD1E3;
    --color-accent-content: #1B2A34;
    --color-info: #5FD1E3;
    --color-info-content: #1B2A34;
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: #5FD1E3;
    --color-warning-content: #1B2A34;
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
}