@import "tailwindcss";

@plugin "daisyui" {
    themes: winter, dim;
}

@plugin "daisyui/theme" {
    name: "dim";
    default: false;
    prefersdark: true;
    color-scheme: "dark";

    --color-base-100: oklch(30.5% 0.02 260);
    --color-base-200: oklch(25% 0.02 260);
    --color-base-300: oklch(20% 0.015 260);

    --color-base-content: oklch(90% 0.02 220);

    --color-primary: oklch(55% 0.09 230);
    --color-primary-content: oklch(95% 0.015 230);

    --color-secondary: oklch(48% 0.08 200);
    --color-secondary-content: oklch(95% 0.015 200);

    --color-accent: oklch(52% 0.1 240);
    --color-accent-content: oklch(95% 0.02 240);

    --color-neutral: oklch(28% 0.02 260);
    --color-neutral-content: oklch(90% 0.02 220);

    --color-info: oklch(60% 0.11 220);
    --color-success: oklch(60% 0.11 160);
    --color-warning: oklch(60% 0.11 90);
    --color-error: oklch(58% 0.08 30);

    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "winter";
    default: false;
    prefersdark: false;
    color-scheme: "light";

    --color-base-100: oklch(96.2% 0.015 220);
    --color-base-200: oklch(92.5% 0.02 215);
    --color-base-300: oklch(88% 0.025 210);

    --color-base-content: oklch(25% 0.015 220);

    --color-primary: oklch(75% 0.11 230);
    --color-primary-content: oklch(20% 0.02 230);

    --color-secondary: oklch(80% 0.09 200);
    --color-secondary-content: oklch(20% 0.02 200);

    --color-accent: oklch(70% 0.1 240);
    --color-accent-content: oklch(15% 0.02 240);

    --color-neutral: oklch(85% 0.02 220);
    --color-neutral-content: oklch(25% 0.015 220);

    --color-info: oklch(82% 0.13 220);
    --color-success: oklch(82% 0.13 160);
    --color-warning: oklch(82% 0.13 90);
    --color-error: oklch(78% 0.09 30);

    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


html {
    width: 100dvw;
}

.input {

    &:focus,
    &:focus-within {
        outline: none;
    }
}

.rdp-day {
    &:not(.rdp-disabled) {
        &:not([data-today="true"]):not(.rdp-selected) {
            &:hover {
                font-size: medium;
            }

            & button:hover {
                color: var(--color-secondary) !important;
            }
        }
    }

    &.rdp-selected {
        & button {
            border-color: var(--color-primary) !important;
        }
    }
}